@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Archivo Narrow", sans-serif;
}

:root{
    --primary-color: #7C0202;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.cabecalho{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0.5% 6%;
}

.cabecalho__logo{
    width: 7%;
    border-radius: 5px;
    border: 0.5px solid var(--primary-color);
}

.cabecalho__conteudo ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cabecalho__conteudo ul li {
    list-style-type: none;
}

.cabecalho__conteudo__link{
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.cabecalho__conteudo__link:hover{
    color: var(--primary-color);
}

.cabecalho__conteudo__button{
    padding: 3% 13%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
    cursor: pointer;
    transition: transform 0.3s ease;
    color: white;
}

.cabecalho__conteudo__button:hover{
    transform: scale(1.1);

}

.fa-brands{
    font-size: 25px;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    font-size: 2rem;
}

.apresentacao {
    padding: 8% 10%;
    position: relative;
    z-index: 1;
}

.apresentacao::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(imagens/bannerryan.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
}

.apresentacao__conteudo{
    text-align: center;
}

.apresentacao__conteudo h1 {
    color: white;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 3rem;
}

.apresentacao__conteudo p {
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: oblique;
}

.sobremim {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding: 2% 10%;
}

.sobremim__conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.sobremim__conteudo__texto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sobremim__conteudo__texto h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
    box-shadow: 2px 2px 2px var(--primary-color);
}

.sobremim__conteudo__imagem{
    width: 22%;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.portfolio {
    padding: 1% 10%; 
}

.portfolio__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.portfolio__conteudo__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__conteudo__titulo p{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
}

.portfolio__conteudo__titulo h2 {
    font-size: 2.5rem;
}

.portfolio__conteudo__imagens{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.portfolio__conteudo__imagens img {
    max-width: 100%;
    width: 16.1%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: 0.1s ease;
}

.portfolio__conteudo__imagens img:hover {
    border: 3px solid var(--primary-color);
    transform: scale(1.02);
}

.portfolio__conteudo__button {
    text-decoration: none;
    color: var(--primary-color);
    background-color:rgb(14, 14, 14);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    border: var(--primary-color) solid 1px;
    transition: transform 0.3s ease;
}

.portfolio__conteudo__button:hover {
    transform: scale(1.12);
}

.estilo-filosofia{
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(14, 14, 14);
    margin: 0.5% 0%;
}

.estilo-filosofia__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilo-filosofia__titulo p{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.estilo-filosofia__titulo h2 {
    font-size: 2.5rem;
}

.estilo-filosofia__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.estilo-filosofia__conteudo__imagens{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.estilo-filosofia__conteudo__imagens__imagem{
    width: 300px;
    object-fit: cover;
}

.estilo-filosofia__conteudo__texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.estilo-filosofia__conteudo__texto__estrofe{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.estilo-filosofia__conteudo__texto__estrofe h2{
    font-size: 2rem;
    color: var(--primary-color);
    box-shadow: 2px 2px 2px var(--primary-color);
}

.estilo-filosofia__conteudo__button {
    text-decoration: none;
    color: var(--primary-color);
    background-color:rgb(14, 14, 14);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    border: var(--primary-color) solid 1px;
    transition: transform 0.3s ease;
}

.estilo-filosofia__conteudo__button:hover{
    transform: scale(1.12);
}

.trabalhos{
    padding: 1% 10%;
}

.trabalhos__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.trabalhos__conteudo__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trabalhos__conteudo__titulo p{
    color:var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.trabalhos__conteudo__titulo h2{
    font-size: 2.5rem;
}

.trabalhos__conteudo__imagens{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.trabalhos__conteudo__imagens img {
    width: 16.1%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: 0.1s ease;
}

.trabalhos__conteudo__imagens img:hover{
    border: 3px solid var(--primary-color);
    transform: scale(1.02);
}

.trabalhos__conteudo__button {
    text-decoration: none;
    color: var(--primary-color);
    background-color:rgb(14, 14, 14);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    border: var(--primary-color) solid 1px;
    transition: transform 0.3s ease;
}

.trabalhos__conteudo__button:hover{
    transform: scale(1.12);
}

.contato{
    padding: 1% 20% 3% 20%;
    background-color: rgb(14, 14, 14);
}

.contato__conteudo{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contato__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__titulo p {
    color:var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.contato__titulo h2 {
    font-size: 2.5rem;
}

.contato__conteudo__formulario{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
    border: var(--primary-color) 2px solid;
}

.contato__conteudo__formulario h2 {
    font-size: 2rem;
}

.contato__conteudo__formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 2% 5%;
    border-radius: 10px;
    width: 35%;
}

.contato__conteudo__formulario input {
    width: 300px;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: white;
}

.contato__conteudo__formulario textarea {
    width: 300px;
    height: 150px;
    background-color: rgb(14, 14, 14);
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 5px;
    resize: none;
}

.contato__conteudo__formulario button {
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(14, 14, 14);
    border: 1px solid var(--primary-color);
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    width: 300px;
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.contato__conteudo__formulario button:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 2px var(--primary-color);
}

.contato__conteudo__wpp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 1% 2%;
    border-radius: 10px;
    width: 45%;
}

.contato__conteudo__wpp a {
    background-color:rgb(14, 14, 14);
    width: 50%;
    padding: 5%;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.contato__conteudo__wpp a:hover{
    transform: scale(1.12);
    box-shadow: 4px 4px 4px var(--primary-color);
}

.contato__conteudo__wpp p {
    text-align: center;
}

.rodape {
    padding: 1% 15%;
    position: relative;
    z-index: 1;
}

.rodape::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(imagens/bannerryan.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* controla a opacidade da imagem */
    z-index: -1; /* mantém a imagem no fundo */
}

.rodape__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.rodape__conteudo__logo {
    font-size: 2.5rem;
}

.rodape__conteudo__logo img {
    width: 120px;
    border-radius: 5px;
    border: 0.5px solid var(--primary-color);
}

.rodape__conteudo__nav{
    display: flex;
    gap: 10px;
}

.rodape__conteudo__nav__link{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.rodape__conteudo__nav__link:hover{
    color: var(--primary-color);
}

.rodape__conteudo__redes {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.rodape__conteudo__redes .fa-brands {
    background-color: rgb(14, 14, 14);
    padding: 8px;
    border-radius: 30px;
}

.rodape__conteudo__copy{
    padding: 2% 0% 0% 0%;
}

.rodape__conteudo__copy p {
    font-size: 0.9rem;
    font-style: italic;
}

@media (max-width: 1630px){

    .cabecalho__logo{
        width: 8%;
    }
    
    .sobremim__conteudo__imagem{
        width: 35%;
    }

    .portfolio__conteudo__imagens img{
        width: 30%;
    }

    .portfolio__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .trabalhos__conteudo__imagens img{
        width: 30%;
    }

    .trabalhos__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .contato{
        padding: 1% 10% 5% 10%;
        text-align: center;
    }

}

@media (max-width: 1280px){

    .cabecalho__logo{
        width: 11%;
    }

    .sobremim__conteudo{
        width: 100%;
        padding: 5% 0% 0% 0%;
    }

    .sobremim__conteudo__imagem{
        width: 41%;
    }

    .portfolio__conteudo{
        text-align: center;
    }

    .portfolio__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .portfolio__conteudo__titulo h2 {
        font-size: 1.8rem;
    }

    .portfolio__conteudo__imagens img{
        width: 30%;
    }

    .portfolio__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .portfolio__conteudo__button{
        margin: 0% 0% 2% 0%;
    }

    .estilo-filosofia__titulo{
        text-align: center;
    }

    .estilo-filosofia__titulo p {
        font-size: 1.2rem;
    }

    .estilo-filosofia__titulo h2 {
        font-size: 1.8rem;
    }

    .estilo-filosofia__conteudo {
        flex-direction: column;
    }

    .estilo-filosofia__conteudo__texto{
        width: 100%;
    }

    .estilo-filosofia__conteudo__imagens__imagem{
        width: 30%;
    }

    .estilo-filosofia__conteudo__button{
        margin: 0% 0% 2% 0%;
    }

    .trabalhos__conteudo{
        text-align: center;
    }

    .trabalhos__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .trabalhos__conteudo__titulo h2{
        font-size: 1.8rem;
    }

    .trabalhos__conteudo__imagens img{
        width: 30%;
    }

    .trabalhos__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .trabalhos__conteudo__button{
        margin: 0% 0% 2% 0%;
    }

    .contato{
        padding: 1% 10% 10% 10%;
        background-color: rgb(14, 14, 14);
        text-align: center;
    }

    .contato__titulo p{
        font-size: 1.2rem;
    }

    .contato__titulo h2{
        font-size: 1.8rem;
    }

    .contato__conteudo__formulario{
        flex-direction: column;
        gap: 10px;
    }

    .contato__conteudo__formulario form{
        width: 100%;
    }

    .contato__conteudo__wpp{
        width: 100%;
        padding: 0% 0% 5% 0%;
    }
    
}

@media (max-width: 1024px){

    .cabecalho__logo{
        width: 14%;
    }

    .sobremim {
        flex-direction: column-reverse;
        padding: 2% 15%;
    }

    .sobremim__conteudo{
        width: 100%;
        padding: 5% 0% 0% 0%;
    }

    .sobremim__conteudo__imagem{
        width: 60%;
    }

    .portfolio__conteudo{
        text-align: center;
    }

    .portfolio__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .portfolio__conteudo__titulo h2 {
        font-size: 1.8rem;
    }

    .portfolio__conteudo__imagens {
        white-space: nowrap;
        overflow-x: scroll;
        display: inline;
    }

    .portfolio__conteudo__imagens img{
        width: 30%;
    }

    .portfolio__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .portfolio__conteudo__button{
        margin: 0% 0% 2% 0%;
    }

    .estilo-filosofia__titulo{
        text-align: center;
    }

    .estilo-filosofia__titulo p {
        font-size: 1.2rem;
    }

    .estilo-filosofia__titulo h2 {
        font-size: 1.8rem;
    }

    .estilo-filosofia__conteudo {
        flex-direction: column;
    }

    .estilo-filosofia__conteudo__texto{
        width: 100%;
    }

    .estilo-filosofia__conteudo__imagens__imagem{
        width: 30%;
    }

    .estilo-filosofia__conteudo__button{
        margin: 0% 0% 2% 0%;
    }

    .trabalhos__conteudo{
        text-align: center;
    }

    .trabalhos__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .trabalhos__conteudo__titulo h2{
        font-size: 1.8rem;
    }

    .trabalhos__conteudo__imagens{
        overflow-x: scroll;
        white-space: nowrap;
        display: inline;
    }

    .trabalhos__conteudo__imagens img{
        width: 30%;
    }

    .trabalhos__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .trabalhos__conteudo__button{
        margin: 0% 0% 2% 0%;
    }

    .contato{
        padding: 1% 10% 10% 10%;
        background-color: rgb(14, 14, 14);
        text-align: center;
    }

    .contato__titulo p{
        font-size: 1.2rem;
    }

    .contato__titulo h2{
        font-size: 1.8rem;
    }

    .contato__conteudo__formulario{
        flex-direction: column;
        gap: 10px;
    }

    .contato__conteudo__formulario form{
        width: 100%;
    }

    .contato__conteudo__wpp{
        width: 100%;
        padding: 0% 0% 5% 0%;
    }
    
}

@media (max-width: 768px){

    .cabecalho__conteudo ul{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        flex-direction: column;
        z-index: 2;
        text-align: center;
        background-color: black;
        overflow: hidden;
        gap: 0;
    }

    .cabecalho__conteudo ul li{
        padding: 1%;
    }

    .menu-icon{
        display: block;
    }

    #menuList{
        transition: all 0.5s;
    }

    .apresentacao__conteudo h1{
        font-size: 2rem;
    }

    .sobremim {
        flex-direction: column-reverse;
        padding: 6% 15%;
    }

    .sobremim__conteudo{
        width: 100%;
        padding: 5% 0% 0% 0%;
    }

    .sobremim__conteudo__imagem{
        width: 90%;
    }

    .portfolio__conteudo{
        text-align: center;
    }

    .portfolio__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .portfolio__conteudo__titulo h2 {
        font-size: 1.8rem;
    }

    .portfolio__conteudo__imagens {
        white-space: nowrap;
        overflow-x: scroll;
        display: inline;
    }

    .portfolio__conteudo__imagens img{
        width: 55%;
    }

    .portfolio__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .portfolio__conteudo__button{
        margin: 0% 0% 5% 0%;
    }

    .estilo-filosofia__titulo{
        text-align: center;
    }

    .estilo-filosofia__titulo p {
        font-size: 1.2rem;
    }

    .estilo-filosofia__titulo h2 {
        font-size: 1.8rem;
    }

    .estilo-filosofia__conteudo {
        flex-direction: column;
    }

    .estilo-filosofia__conteudo__texto{
        width: 100%;
    }

    .estilo-filosofia__conteudo__imagens__imagem{
        width: 55%;
    }

    .estilo-filosofia__conteudo__button{
        margin: 0% 0% 5% 0%;
    }

    .trabalhos__conteudo{
        text-align: center;
    }

    .trabalhos__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .trabalhos__conteudo__titulo h2{
        font-size: 1.8rem;
    }

    .trabalhos__conteudo__imagens{
        overflow-x: scroll;
        white-space: nowrap;
        display: inline;
    }

    .trabalhos__conteudo__imagens img{
        width: 55%;
    }

    .trabalhos__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .trabalhos__conteudo__button{
        margin: 0% 0% 5% 0%;
    }

    .contato{
        padding: 1% 5% 10% 5%;
        background-color: rgb(14, 14, 14);
    }

    .contato__titulo p{
        font-size: 1.2rem;
    }

    .contato__titulo h2{
        font-size: 1.8rem;
    }

    .contato__conteudo__formulario{
        flex-direction: column;
        gap: 10px;
    }

    .contato__conteudo__formulario form{
        width: 100%;
    }

    .contato__conteudo__wpp{
        width: 100%;
        padding: 0% 0% 5% 0%;
    }

    .rodape__conteudo__nav__link{
        white-space: nowrap;
        font-size: 1rem;
    }

    .rodape__conteudo__copy p{
        white-space: nowrap;
        font-size: 0.66rem;
    }
    
}

@media (max-width: 480px) {

    .cabecalho__conteudo ul{
        top: 100%;
        
    }

    .menu-icon{
        display: block;
    }

    .cabecalho__logo{
        width: 28%;
    }

    .apresentacao__conteudo h1{
        font-size: 2rem;
    }

    .sobremim {
        flex-direction: column-reverse;
    }

    .sobremim__conteudo{
        width: 100%;
        padding: 5% 0% 0% 0%;
    }

    .sobremim__conteudo__imagem{
        width: 90%;
    }

    .portfolio__conteudo{
        text-align: center;
    }

    .portfolio__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .portfolio__conteudo__titulo h2 {
        font-size: 1.8rem;
    }

    .portfolio__conteudo__imagens {
        white-space: nowrap;
        overflow-x: scroll;
        display: inline;
    }

    .portfolio__conteudo__imagens img{
        width: 55%;
    }

    .portfolio__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .portfolio__conteudo__button{
        margin: 0% 0% 5% 0%;
    }

    .estilo-filosofia__titulo{
        text-align: center;
    }

    .estilo-filosofia__titulo p {
        font-size: 1.2rem;
    }

    .estilo-filosofia__titulo h2 {
        font-size: 1.8rem;
    }

    .estilo-filosofia__conteudo {
        flex-direction: column;
    }

    .estilo-filosofia__conteudo__texto{
        width: 100%;
    }

    .estilo-filosofia__conteudo__imagens__imagem{
        width: 55%;
    }

    .estilo-filosofia__conteudo__button{
        margin: 0% 0% 5% 0%;
    }

    .trabalhos__conteudo{
        text-align: center;
    }

    .trabalhos__conteudo__titulo p{
        font-size: 1.2rem;
    }

    .trabalhos__conteudo__titulo h2{
        font-size: 1.8rem;
    }

    .trabalhos__conteudo__imagens{
        overflow-x: scroll;
        white-space: nowrap;
        display: inline;
    }

    .trabalhos__conteudo__imagens img{
        width: 55%;
    }

    .trabalhos__conteudo__imagens img:hover{
        transform: scale(1);
    }

    .trabalhos__conteudo__button{
        margin: 0% 0% 5% 0%;
    }

    .contato{
        padding: 1% 5% 10% 5%;
        background-color: rgb(14, 14, 14);
    }

    .contato__titulo p{
        font-size: 1.2rem;
    }

    .contato__titulo h2{
        font-size: 1.8rem;
    }

    .contato__conteudo__formulario{
        flex-direction: column;
        gap: 10px;
    }

    .contato__conteudo__formulario form{
        width: 100%;
    }

    .contato__conteudo__wpp{
        width: 100%;
        padding: 0% 0% 5% 0%;
    }

    .rodape__conteudo__nav__link{
        white-space: nowrap;
        font-size: 1rem;
    }

    .rodape__conteudo__copy p{
        white-space: nowrap;
        font-size: 0.66rem;
    }
}